@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker:wght@400;700&display=swap');


:root{
  --text-font-size: .9rem;
  --secondary-text-color: #b0dcdf;
  --tertiary-text-color: #8eaeb1;
  --primary-color: #32dae3;
  --secondary-color: #5bdee6;
  --tertiary-color: #b7eff2;
  --gameboard-background-color: #1d3e40;
  --gameover-background-color: rgba(29, 62, 64, 0.9);
  --button-color: #4c6566;
}

* {
  box-sizing: border-box;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Patrick Hand', sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
}

body {
  background: radial-gradient(
      circle at center,
      color-mix(in srgb, var(--tertiary-color), transparent 10%),
      color-mix(in srgb, var(--primary-color), transparent 10%)
    ),
    url('/bg-pattern-dark.png');
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0 10px 0 10px
}


h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  margin: 0 auto 1.5rem auto;
  color: var(--gameboard-background-color);
  text-align: center;
}

#game-container {
  max-width: 45rem;
  margin: 1.5rem auto 0 auto;
  padding: 2rem;
  border-radius: 6px;
  background: var(--gameboard-background-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#players div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 2px solid transparent;
  padding: .5rem;
  gap: .5rem;
}

#players.highlight-player div.active {
  border-color: var(--primary-color);
}

#players.highlight-player div.active .player-name,
#players.highlight-player div.active .player-symbol {
  color: var(--primary-color);
}

#players button {
  border: none;
  background: none;
  color: var(--tertiary-color);
  font-size: 0.7rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0 0.25rem 0 0.25rem;
}

#players button:hover {
  color: var(--primary-color);
}

.player {
  font-weight: bold;
  gap: .9rem;
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
}

.player-name {
  font-size: var(--text-font-size);
  color: var(--tertiary-color);
  text-transform: uppercase;
  min-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player input {
  min-width: 0;
  font-size: var(--text-font-size);
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: var(--button-color);
  text-transform: uppercase;
  font-family: 'Patrick Hand', cursive;
}

.player-symbol {
  font-size: var(--text-font-size);
  color: var(--tertiary-color);
  font-family: 'Permanent Marker', cursive;
}

/* Game Board */
#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
  padding: 0;
}

#game-board ol {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Game Over */
#game-board button {
  aspect-ratio : 1 / 1;
  width: 100%;
  border: none;
  background: var(--button-color);
  color: var(--tertiary-color);
  font-size: 3rem;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  padding: .4rem;
}

#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gameover-background-color);
}

#game-over h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: 4rem;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
}

#game-over p {
  font-size: 2rem;
  text-align: center;
  color: var(--tertiary-color);
}

#game-over button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px var(--gameboard-background-color);
}

#game-over button:hover {
  background: var(--secondary-color);
  color: var(--gameover-background-color);
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--primary-color);
}

@media (min-width: 600px) {
  :root{
    --text-font-size: 1rem;
  }

  #game-board ol {
    margin: 0 4rem;
  }

  #players button {
    font-size: .8rem;
  }

  #game-board button {
    font-size: 4rem;
  }
  
  #players div {
    padding: .75rem;
    gap: .75rem;
  }
}

@media (min-width: 700px) {
  :root{
    --text-font-size: 1rem;
  }

  #game-board ol {
    margin: 0 4rem;
  }

  #players div {
    padding: 1rem;
    gap: 1rem;
  }

  #players button {
    font-size: 0.9rem;
  }

  #game-board button {
    font-size: 5rem;
  }
  
}


@keyframes pulse-text {
  0% {
    color: var(--secondary-text-color);
  }
  50% {
    color: var(--tertiary-text-color);
  }
  100% {
    color: var(--secondary-text-color);
  }
}